---
Checks: >
  -*,
  bugprone-infinite-loop,
  bugprone-sizeof-expression,
  bugprone-suspicious-string-compare,
  bugprone-unused-return-value,
  cert-err33-c,
  cert-str34-c,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  readability-misleading-indentation,
  readability-inconsistent-declaration-parameter-name,
  readability-non-const-parameter

WarningsAsErrors: '*'
...
